$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$LightGrayishBlue: hsl(234, 39%, 85%);
//hover text
$LightGrayishBluest: hsl(236, 33%, 92%);

.darkTheme {
  background: $VeryDarkBlue;
  height: 100vh;
  &__head {
    background: url('../../images/bg-desktop-dark.jpg');
    height: 33vh;
    background-size: cover;
    background-position: center;
  }
  &__todolist {
    margin-top: -130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form {
      background: $VeryDarkDesaturatedBlue;
      padding: 10px 20px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 10px;
      &__myInput {
        width: 260px;
        font-size: 14px;
        color: $LightGrayishBlue;
        &::placeholder {
          color: $DarkGrayishBlue;
        }
      }
    }
  }
  .form__checkbox {
    padding: 7px 18px;
    display: flex;
    align-items: center;
    background: $VeryDarkDesaturatedBlue;
    border-radius: 4px;
    border-bottom: 1px solid $VeryDarkGrayishBlue;
    box-shadow: 10px 50px 200px 2px #494c6b32;
    .text {
      margin-left: 10px;
      width: 234px;
      display: flex;
      align-items: center;
      .todos {
        flex: 1;
        font-size: 15px;
        color: $LightGrayishBlue;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: $LightGrayishBluest;
        }
      }
      .removeIcon {
        margin-top: 3px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .btnList {
    background: $VeryDarkDesaturatedBlue;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    .insideList {
      width: 180px;
      display: flex;
      justify-content: space-between;
      button {
        font-size: 15px;
        color: $LightGrayishBlue;
        border: none;
        background: transparent;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: $LightGrayishBluest;
        }
      }
    }
  }
  .zeroTodos {
    background: $VeryDarkDesaturatedBlue;
    padding: 7px 20px;
    border-radius: 4px;
    width: 300px;
    text-align: center;
    border-bottom: 1px solid $VeryDarkGrayishBlue;
    font-weight: 300;
    font-size: 20px;
    color: $DarkGrayishBlue;
  }
  .scrollbar {
    height: 65vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $VeryDarkDesaturatedBlue;
      background-image: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.25) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 75%,
        transparent 75%,
        transparent
      );
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: 5px 5px 5px -5px rgba(36, 34, 80, 0.2) inset;
      background-color: $VeryDarkBlue;
    }
  }
}
