// checkbox
$BrightBlue: hsl(220, 98%, 61%);
$CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
}
